
input[type="number"],
input[type="text"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
    background-color: #000;
    border: 0;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-size: 23px;
    max-width: 180px;
    min-width: 180px;
    padding: 10px;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.input-wrap {
    display: inline-block;
    position: relative;
    &::before {

        animation: glowing 20s linear infinite;
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        background-size: 400%;
        border-radius: 10px;
        content: "";
        filter: blur(5px);
        height: calc(100% + 4px);
        left: -2px;
        position: absolute;
        top: -2px;
        transition: opacity 0.3s ease-in-out;
        width: calc(100% + 4px);
        z-index: -1;
    
    }
}