.loader {
    display: flex;
    flex-direction: column;

    svg {
        display: grid;
        justify-content: center;

        path::before {
            animation: glowing 20s linear infinite;
            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
            background-size: 400%;
            border-radius: 10px;
            content: "";
            filter: blur(5px);
            height: calc(100% + 4px);
            left: -2px;
            position: absolute;
            top: -2px;
            transition: opacity 0.3s ease-in-out;
            width: calc(100% + 4px);
            z-index: -1;
        }
    }

    &__text {
        color: #fff;
        font-size: 20px;
        text-align: center;
    }
}