
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules//bootstrap/scss/modal';

@media (min-width: 576px) {
    .modal {
        &.fade &-dialog{
            transition: none;
            transform: none;
        } 
        &-dialog {
            display: flex;
            align-items: center;
            margin: 0 auto;
            min-height: 100%;
        }
    
        &-content {
            background-color: #000;

            &::before {
                content: "";
                background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                position: absolute;
                top: -2px;
                left: -2px;
                background-size: 400%;
                z-index: -1;
                filter: blur(5px);
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                animation: glowing 20s linear infinite;
                transition: opacity 0.3s ease-in-out;
                border-radius: 10px;
            }
        }
    
        &-body {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

