
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules//bootstrap/scss/modal';

@media (min-width: 576px) {
    .modal {
        &.fade &-dialog{
            transform: none;
            transition: none;
        } 
        &-dialog {
            align-items: center;
            display: flex;
            margin: 0 auto;
            min-height: 100%;
        }
    
        &-content {
            background-color: #000;

            &::before {
                animation: glowing 20s linear infinite;
                background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                background-size: 400%;
                border-radius: 10px;
                content: "";
                filter: blur(5px);
                height: calc(100% + 4px);
                left: -2px;
                position: absolute;
                top: -2px;
                transition: opacity 0.3s ease-in-out;
                width: calc(100% + 4px);
                z-index: -1;
            }
        }
    
        &-body {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        &-header {
            border: 0;
            color: #fff;
            font-size: 16px;
            justify-content: center;
            padding: 27px;
        }

        &-title {
            font-size: 21px;
            margin-top: 0;
        }

        &-footer {
            border: 0;
            justify-content: center;
            padding: 35px;
        }
    }
}

