:root {
    --neon-text-color: #f40;
}

body {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

input[type="number"],
input[type="text"], {
    background-color: #000;
    color: #fff;
    appearance: none;
    display: inline-block;
    min-width: 180px;
    padding: 10px;
    font-size: 23px;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    border: 2px solid #fff;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
    // text-shadow:
    // -0.2rem -0.2rem 1rem #fff,
    // 0.2rem 0.2rem 1rem #fff,
    // 0 0 2rem var(--neon-text-color),
    // 0 0 4rem var(--neon-text-color),
    // 0 0 6rem var(--neon-text-color),
    // 0 0 8rem var(--neon-text-color),
    // 0 0 10rem var(--neon-text-color);
    margin-bottom: 4rem;
}

/* game */
.tick-tock-toe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    background-color: black;
    //background-image: url('../img/welcome_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;

    & > * {
        flex: 1 0 100%;
    }
}

/* welcome-screen */
.welcome-screen {
    // transform: translateY(-50%);
    text-align: center;

    &__title {
        // font-size: 2rem;
        // font-family: 'Press Start 2P', cursive;
        // line-height: 1;
        // text-transform: uppercase;
        // color: #ffffff;
        // text-shadow:
        // -0.2rem -0.2rem 1rem #fff,
        // 0.2rem 0.2rem 1rem #fff,
        // 0 0 2rem var(--neon-text-color),
        // 0 0 4rem var(--neon-text-color),
        // 0 0 6rem var(--neon-text-color),
        // 0 0 8rem var(--neon-text-color),
        // 0 0 10rem var(--neon-text-color);
        
        // margin-bottom: 5rem;

        & span {
            // animation: neon linear infinite 2s;
        }
    }

    &__find-game-btn {
        margin-bottom: 30px;
    }
}

/* settings-screen */
.settings-screen {
    &__title {
        // text-align: center;
        // font-size: 2rem;
        // font-family: 'Press Start 2P', cursive;
        // line-height: 1;
        // text-transform: uppercase;
        // color: #ffffff;
        // text-shadow:
        // -0.2rem -0.2rem 1rem #fff,
        // 0.2rem 0.2rem 1rem #fff,
        // 0 0 2rem var(--neon-text-color),
        // 0 0 4rem var(--neon-text-color),
        // 0 0 6rem var(--neon-text-color),
        // 0 0 8rem var(--neon-text-color),
        // 0 0 10rem var(--neon-text-color);
        
        // margin-bottom: 5rem;

        & span {
            // animation: neon linear infinite 2s;
        }
    }

    &__size-field {
        margin-bottom: 50px;
    }
}


/* choose-character */
.choose-character {
    &__title {
        color: #fff;
        font-size: 25px;
        text-align: center;
    }

   &__characters {
       text-align: center;
   } 

   &__input {
       display: none;

       &:checked + label {
            border-color: #fff;
            border-radius: 50%;
       }
   }

   &__x {
       display: inline-flex;
       justify-content: center;
       align-self: center;
       border-width: 1px;
       border-color: transparent;
       border-style: solid;
       color: red;
       padding: 10px;
       cursor: pointer;
       margin: 0 15px;
   }

   &__zero {
        display: inline-flex;
        justify-content: center;
        align-self: center;
        border-width: 1px;
        border-color: transparent;
        border-style: solid;
        padding: 10px;
        color: blue;
        cursor: pointer;
        margin: 0 15px;
   }

}

/* settings-field */

.settings-field {
    &__title {
        color: #fff;
        font-size: 25px;
        text-align: center;
        margin-bottom: 30px;
    }

    &__size {
        text-align: center;
    }

    &__size-input {

        input {
            width: 50px;
            text-align: center;
            box-sizing: border-box;
        }
    }

    &__cross {
        display: inline-block;
        padding: 5px;
        color: white;
        font-size: 15px;
    }


}
/* start-block */
.start-block {
    text-align: center;

    &__create-network-game-btn-wrap {
        margin-bottom: 30px;
    }
}

/* end-screen */
.end-screen {
    text-align: center;

    &__title {
        // font-size: 2rem;
        // font-family: 'Press Start 2P', cursive;
        // line-height: 1;
        // text-transform: uppercase;
        // color: #ffffff;
        // text-shadow:
        // -0.2rem -0.2rem 1rem #fff,
        // 0.2rem 0.2rem 1rem #fff,
        // 0 0 2rem var(--neon-text-color),
        // 0 0 4rem var(--neon-text-color),
        // 0 0 6rem var(--neon-text-color),
        // 0 0 8rem var(--neon-text-color),
        // 0 0 10rem var(--neon-text-color);
        
        // margin-bottom: 5rem;
    }

    &__congratulations {
        display: inline-block;
        margin-bottom: 40px;
    }
}

.game {
    display: grid;
    justify-content: center;

    &__field {
        display: grid;
        justify-content: center;
    }

    canvas {
        background-color: black;
        box-shadow: 0 0 15px #ff00b6;
    }
}

// #gameCanvas {
//     background-color: ;
// }



/* neon-text */
@keyframes neon {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79%{
        color: #0b3960;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #0b3960;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #0b3960;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}
