.welcome-view {
    display: grid;
    justify-content: center;

    &__game-modes-btns-wrap {
        display: grid;
        justify-content: center;
        row-gap: 30px;
    }

    &__btn-play-wrap {
        display: grid;
        justify-content: center;
    }
}



